In [26]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
from scipy.stats import norm

In [14]:
sp500 = pd.read_csv('SP500.csv')

In [15]:
sp500.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2008-01-02,1467.969971,1471.770020,1442.069946,1447.160034,1447.160034,3452650000
1,2008-01-03,1447.550049,1456.800049,1443.729980,1447.160034,1447.160034,3429500000
2,2008-01-04,1444.010010,1444.010010,1411.189941,1411.630005,1411.630005,4166000000
3,2008-01-07,1414.069946,1423.869995,1403.449951,1416.180054,1416.180054,4221260000
4,2008-01-08,1415.709961,1430.280029,1388.300049,1390.189941,1390.189941,4705390000

In [45]:
sp500.index[-1]

2678

In [46]:
sp500.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume', 'Close1',
       'Return'],
      dtype='object')

In [48]:
sp500.shape

(2679, 9)

In [49]:
sp500.describe

<bound method NDFrame.describe of             Date         Open         High          Low        Close  \
0     2008-01-02  1467.969971  1471.770020  1442.069946  1447.160034
1     2008-01-03  1447.550049  1456.800049  1443.729980  1447.160034
2     2008-01-04  1444.010010  1444.010010  1411.189941  1411.630005
3     2008-01-07  1414.069946  1423.869995  1403.449951  1416.180054
4     2008-01-08  1415.709961  1430.280029  1388.300049  1390.189941
...          ...          ...          ...          ...          ...
2674  2018-08-15  2827.949951  2827.949951  2802.489990  2818.370117
2675  2018-08-16  2831.439941  2850.489990  2831.439941  2840.689941
2676  2018-08-17  2838.320068  2855.629883  2833.729980  2850.129883
2677  2018-08-20  2853.929932  2859.760010  2850.620117  2857.050049
2678  2018-08-21  2861.510010  2873.229980  2861.320068  2862.959961

        Adj Close      Volume       Close1     Return
0     1447.160034  3452650000  1447.160034   0.000000
1     1447.160034  3429500000  1411.630005 -35.530029
2     1411.630005  4166000000  1416.180054   4.550049
3     1416.180054  4221260000  1390.189941 -25.990113
4     1390.189941  4705390000  1409.130005  18.940064
...           ...         ...          ...        ...
2674  2818.370117  3645070000  2840.689941  22.319824
2675  2840.689941  3219880000  2850.129883   9.439942
2676  2850.129883  3024100000  2857.050049   6.920166
2677  2857.050049  2748020000  2862.959961   5.909912
2678  2862.959961  3147140000          NaN        NaN

[2679 rows x 9 columns]>

In [16]:
sp500['Close1']=sp500['Close'].shift(-1)

In [50]:
sp500['Price1']= sp500['Close1'] - sp500['Close']

In [51]:
sp500.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Close1,Return,PriceDiff
0,2008-01-02,1467.969971,1471.770020,1442.069946,1447.160034,1447.160034,3452650000,1447.160034,0.000000,0.000000
1,2008-01-03,1447.550049,1456.800049,1443.729980,1447.160034,1447.160034,3429500000,1411.630005,-35.530029,-35.530029
2,2008-01-04,1444.010010,1444.010010,1411.189941,1411.630005,1411.630005,4166000000,1416.180054,4.550049,4.550049
3,2008-01-07,1414.069946,1423.869995,1403.449951,1416.180054,1416.180054,4221260000,1390.189941,-25.990113,-25.990113
4,2008-01-08,1415.709961,1430.280029,1388.300049,1390.189941,1390.189941,4705390000,1409.130005,18.940064,18.940064

In [52]:
sp500['Return'].sum()

1415.799927

In [59]:
density = pd.DataFrame()
density['x']= np.arange(sp500['Return'].min() - 0.001, sp500['Return'].max() + 0.01,0.001)
mu = sp500['Return'].mean()
sigma = sp500['Return'].std(ddof=1)
density['pdf'] = norm.pdf(density['x'],mu,sigma)
plt.legend 
plt.show()

In [1]:
prob_Return05 = norm.cdf(-0.05,mu,sigma)
print('The Probability of returing 5% is',prob_Return05)

NameError: name 'norm' is not defined

In [55]:
mu220 = 220*mu
sigma220 = (220**0.5)*sigma
print('The probability of dropping over 40% in 220 days is', norm.cdf(-0.4,mu220,sigma220))

The probability of dropping over 40% in 220 days is 0.3209980296267988

In [56]:
VaR = norm.ppf((0.05),mu,sigma)
print('Single day value at risk',VaR)

Single day value at risk -27.31023288592698

In [60]:
sp500['Return'] = sp500['PriceDiff']/sp500['Close']

In [61]:
sp500.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Close1,Return,PriceDiff
0,2008-01-02,1467.969971,1471.770020,1442.069946,1447.160034,1447.160034,3452650000,1447.160034,0.000000,0.000000
1,2008-01-03,1447.550049,1456.800049,1443.729980,1447.160034,1447.160034,3429500000,1411.630005,-0.024552,-35.530029
2,2008-01-04,1444.010010,1444.010010,1411.189941,1411.630005,1411.630005,4166000000,1416.180054,0.003223,4.550049
3,2008-01-07,1414.069946,1423.869995,1403.449951,1416.180054,1416.180054,4221260000,1390.189941,-0.018352,-25.990113
4,2008-01-08,1415.709961,1430.280029,1388.300049,1390.189941,1390.189941,4705390000,1409.130005,0.013624,18.940064