In [1]:
import pandas as pd 
import matplotlib as plt
%matplotlib inline
import numpy as np 
import scipy.stats as stats 
import statsmodels.api as smf

In [4]:
tsla = pd.read_csv('TSLA-HSP.csv')

In [5]:
tsla.head()

   Market Portfolio  Asset Price
0        7953.87988    18.213333
1        7909.27979    18.153999
2        7964.24023    18.403999
3        7947.35986    17.894667
4        7984.16016    17.846666

In [6]:
len(tsla)

1258

In [7]:
returns=tsla.pct_change()
returns.head()

   Market Portfolio  Asset Price
0               NaN          NaN
1         -0.005607    -0.003258
2          0.006949     0.013771
3         -0.002120    -0.027675
4          0.004631    -0.002682

In [9]:
rfr = 0.052
returns['MRP'] = returns['Market Portfolio'] - rfr
returns.head()

   Market Portfolio  Asset Price       MRP
0               NaN          NaN       NaN
1         -0.005607    -0.003258 -0.057607
2          0.006949     0.013771 -0.045051
3         -0.002120    -0.027675 -0.054120
4          0.004631    -0.002682 -0.047369

In [15]:
X =smf.add_constant(returns['MRP'])
y= returns['Asset Price']
model = smf.OLS(y,X)
results = model.fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:            Asset Price   R-squared:                       0.359
Model:                            OLS   Adj. R-squared:                  0.358
Method:                 Least Squares   F-statistic:                     701.4
Date:                Tue, 09 Apr 2024   Prob (F-statistic):          3.85e-123
Time:                        11:28:05   Log-Likelihood:                 2520.6
No. Observations:                1257   AIC:                            -5037.
Df Residuals:                    1255   BIC:                            -5027.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.0816      0.003     26.136      0.000       0.075       0.088
MRP            1.5403      0.058     26.484      0.000       1.426       1.654
==============================================================================
Omnibus:                      137.139   Durbin-Watson:                   1.986
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1056.707
Skew:                           0.130   Prob(JB):                    3.46e-230
Kurtosis:                       7.484   Cond. No.                         63.4
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [14]:
returns = returns.dropna()

In [17]:
beta = results.params['MRP']
beta

1.5402797009306426

In [18]:
results.params

const    0.081607
MRP      1.540280
dtype: float64

In [19]:
market_returns = returns['Market Portfolio'].mean()
market_returns

0.0006940766567314817

In [20]:
returns

      Market Portfolio  Asset Price       MRP
1            -0.005607    -0.003258 -0.057607
2             0.006949     0.013771 -0.045051
3            -0.002120    -0.027675 -0.054120
4             0.004631    -0.002682 -0.047369
5            -0.001021    -0.004931 -0.053021
...                ...          ...       ...
1253          0.001060    -0.003242 -0.050940
1254         -0.009537    -0.049024 -0.061537
1255          0.002279     0.010502 -0.049721
1256         -0.014030     0.016213 -0.066030
1257          0.012427    -0.036292 -0.039573

[1257 rows x 3 columns]

In [22]:
cost_of_equity = rfr+beta*(market_returns - rfr)
print(f'The cost of equity is {cost_of_equity:.2%}.')

The cost of equity is -2.70%.